# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js|scss},!node_modules]
charset = utf-8
indent_style = space
indent_size = 4

[{package.json,.babelrc,.eslintrc,.sass-lint.yml}]
charset = utf-8
indent_style = space
indent_size = 2

[{README.md}]
indent_size = 4
indent_style = space
# Removing trailing whitespace in markdown files that ruins line breaks
trim_trailing_whitespace = false
